# This file determines clang-format's style settings; for details, refer to
# http://clang.llvm.org/docs/ClangFormatStyleOptions.html

Language: Cpp
BasedOnStyle: Google
ColumnLimit: 100

AccessModifierOffset: -2
# Always break after an open bracket, if the parameters don’t fit on a single line.
AlignAfterOpenBracket: AlwaysBreak

BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true

ConstructorInitializerIndentWidth: 0
ContinuationIndentWidth: 2

# Don't analyze the formatted file for the most common alignment of & and *.
DerivePointerAlignment: false
PointerAlignment: Middle

ReflowComments: false
